<!DOCTYPE html>
<html>
    <head>
        <title>FAST IaC Lab!</title>
        <style>
            html { color-scheme: light dark; }
            body { width: 35em; margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif; }
        </style>
    </head>
    <body>
        <h1>Welcome to {{ website_name }} Website!</h1>
        <p>CESAR FAST IaC Lab!</p>
    </body>
</html>